<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,links)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:replace="${title}">title</title>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <link rel="stylesheet" href="/webjars/material-components-web/0.38.2/dist/material-components-web.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <th:block th:replace="${links}" />

</head>

<body></body>
</html>