<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: common_header(~{::title},~{})">
    <title>chukasa</title>
</head>

<body class="mdc-typography">

<div class="mdc-layout-grid">

    <a href="/chukasa"><button type="button" class="mdc-button mdc-button--raised">chukasa</button></a>

    <br><br>

    <a href="/programs/now"><button type="button" class="mdc-button mdc-button--raised">Program Table</button></a>

    <div th:replace="footer :: footer"></div>

</div>

<div th:replace="material-components-web-js :: material-components-web-js"></div>
<script>mdc.autoInit()</script>

</body>
</html>