<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: common_header(~{::title},~{})">
    <title>chukasa</title>
</head>

<body>

<div class="uk-container">

    <hr/>

    <a href="/chukasa"><button class="uk-button uk-button-primary">chukasa</button></a>

    <hr/>

    <a href="/programs/now"><button class="uk-button uk-button-primary">Program Table</button></a>

    <hr/>

    <div th:replace="footer :: footer"></div>

    <div th:replace="uikit-js :: uikit-js"></div>

</div>

</body>
</html>