<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: common_header(~{::title},~{})">
    <title>chukasa</title>
</head>

<body>

<div class="uk-container">

<a href="#" title="chukasa"><span><img src="/images/chukasa.jpg" height="180" width="211"></img></span></a>

<form th:action="@{/login}" method="post">

    <div class="uk-margin">
        <input type="text" class="uk-input" id="username" name="username" placeholder="username">
    </div>

    <div class="uk-margin">
        <input type="password" class="uk-input" id="password" name="password" placeholder="password">
    </div>

    <div class="uk-margin">
        <input type="submit" class="uk-button uk-button-primary" value="login"/>
    </div>

</form>

<hr />

<div th:insert="footer :: footer"></div>

</div>

<div th:replace="uikit-js :: uikit-js"></div>

</body>
</html>