<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: common_header(~{::title},~{})">
    <title>chukasa</title>
</head>

<body class="mdc-typography">

<div class="mdc-layout-grid">

<a href="#" title="chukasa"><span><img src="/images/chukasa.jpg" height="180" width="211"></img></span></a>

    <h2 class="mdc-typography--display2">chukasa</h2>
    <p class="mdc-typography--body1">HTTP Live Streaming Server</p>

<form th:action="@{/login}" method="post">

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
        <input type="text" class="mdc-text-field__input" id="username" name="username">
        <label for="username" class="mdc-floating-label">Username</label>
    </div>

    <br>

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
        <input type="password" class="mdc-text-field__input" id="password" name="password">
        <label for="password" class="mdc-floating-label">Password</label>
    </div>

    <br><br>

    <input type="submit" class="mdc-button mdc-button--raised" value="login"/>

    <br><br>

</form>

<div th:insert="footer :: footer"></div>

</div>

<div th:replace="material-components-web-js :: material-components-web-js"></div>
<script>mdc.autoInit()</script>
</body>
</html>